@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: grey;
    font-family: Poppins, sans-serif;
}

.no-decoration-link {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

/* header */

header {
    height: 10%;
    background-color: dimgray;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-text {
    color: white;
}

#bulb {
    font-size: 300%;
    float: left;
    width: 90px;
    text-align: center;
}

h1 {
    font-weight: 600;
    letter-spacing: 4px;
    color: white;
    margin-left: 30px;
}

h3 {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
    color: white;
    margin-left: 30px;
}

h5 {
    font-weight: 200;
    letter-spacing: 4px;
    color: white;
    text-underline-offset: 4px;
}

#logo {
    float: left;
    width: 50%;
}

#languages {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}

/* main */

body {
    background-color: lightgray;
}

.hobbies-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 80%;
    padding: 5%;
    margin: 0 auto;
    height: auto;
    justify-content: space-between;
}

.tile {
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    justify-items: stretch;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    flex-basis: fit-content;
}

.tile-anchor {
    display: flex;
    border-radius: 3%;
}

.hobby-icon {
    font-size: 400%;
    place-self: center;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-left: 30px;
}

.hobby-box {
    grid-column-start: 2;
    grid-column-end: 5;
    align-self: center;
    margin-right: 30px;
}

.description {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    margin: auto 30px;
}

#engineering {
    order: 1;
    background-color: darkolivegreen;
    flex-basis: 450px;
    flex-wrap: wrap;
}

#writing {
    order: 2;
    background-color: darkgrey;
    flex-basis: 700px;
    flex-wrap: wrap;
}

#film {
    order: 3;
    background-color: aliceblue;
    flex-basis: 500px;
    flex-wrap: wrap;
}

#film-article {
    color: dimgray;
}

#music {
    order: 4;
    background-color: darkslategray;
    flex-basis: 300px;
    flex-wrap: wrap;
}

#photography {
    order: 5;
    background-color: darkslateblue;
    flex-basis: 300px;
    flex-wrap: wrap;
}

/* footer */

footer {
    height: 10%;
    background-color: dimgray;
}

.social-networks {
    text-align: center;
}

/* one row instead of column of the list of icons */
.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 0%;
    padding: 2% 10% 2% 10%;
    color: #292929;
}

@media (min-width: 800px) {
    .hobbies-flex {
        flex-direction: row;
    }
}